  /* #region Feed Content */

.feed-content {
  flex: 1;
  padding: 40px;
}

/* Empty State */
.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.empty-state-banner {
  width: 100%;
  max-width: 1200px;
  background: linear-gradient(135deg, #8b4789 0%, #6b3b6b 50%, #4b2b4b 100%);
  border-radius: 20px;
  padding: 60px 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.empty-state-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 400"><defs><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.9" numOctaves="4" stitchTiles="stitch"/></filter></defs><rect width="1200" height="400" filter="url(%23noise )" opacity="0.05"/></svg>');
  opacity: 0.3;
}

.empty-state-image {
  max-width: 300px;
  margin: 0 auto 30px;
  position: relative;
  z-index: 1;
}

.empty-state-text {
  font-size: 42px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
  font-family: "Courier New", monospace;
}

/* Responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    padding: 20px 5px;
  }

  .sidebar:hover {
    width: 200px;
  }

  .main-content {
    margin-left: 60px;
  }

  .top-header {
    padding: 15px 20px;
  }

  .feed-content {
    padding: 20px;
  }

  .empty-state-text {
    font-size: 28px;
  }
}

  /* #endregion*/



  /* #region YXT */


    /* #region Banner Hero */
.no-one {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 275px;
  height: 55vh;
  width: 100%;
  background-color: #8370FF;

}

.one {
  display: flex;
  font-size: 4em;
}

  /* #endregion*/



    /* #region Album Carrousel */

/*
.swipe {
  display: flex;
  min-height: 250px;
  height: 30vh;
  width: 100%;
  padding: 2% 0 2% 0;
 background-color: #282828; 
}
*/

.swipe {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}


.albuns {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.album {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0.5%;
  margin-top: 1%;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
}

.album h1 {
  font-size: 1em;
}

.album p {
  font-size: 0.9em;
}

.cover {
  background-color: #8370FF;
  border-radius: 5%;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    padding: 2%;
}

  /* #endregion*/



    /* #region IDK */
  
.divisor {
  display: flex;
  width: 100%;
  padding: 2%;
  justify-content: center;
}

.cat-wall {
  display: flex;
  width: 100%;
  min-height: 500px;
  height: 50vh;
  background-color: #1e1e1e;
}

  /* #endregion IDK*/



    /* #region Carrousel Gender*/

.gender-div {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
  flex-direction: column;
}

.gender-div h2 {
  font-size: 2.2vw;
  margin-left: 5%;
}

.genero-carrousel {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.generos {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  margin: 2%;
  aspect-ratio: 1.6 / 1;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #8370FF;
}

.uper {
  display: flex;
  flex: 3;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.downer {
  display: flex;
  padding-left: 4%;
  align-items: center;
  font-size: 2vw;
    font-family: 'Quicksand', sans-serif;
  flex: 1;
  background-color: #282828;
}

  /* #endregion*/



    /* #region Clowster*/

.magic-shell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  padding: 2% 8%;
    font-family: 'Quicksand', sans-serif;
}

.clowster {
  display: flex;
  border-radius: 10px;
  background-color: #282828;
  height: 100%;
  width: 100%;
}

.big-banner {
  display: flex;
  flex: 2;
  border-radius: 10px;
}

.banner-img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}

.info-banner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
}

.info-banner p {
  font-size: 1.2vw;
}

.info-banner h2 {
  font-size: 2vw;
}

.descricao {
  display: flex;
  padding: 2%;
  font-size: 2vw;
  line-height: 1.5;
  width: 100%;
  height: 75%;
  background-color: #303030;
  border-radius: 5px;
}

.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
}

.about p {
  font-size: 1.3vw;
  margin: 5% 3% 0% 3%;
}

.thing {
  display: flex;
  width: 100%;
  margin: 3% 0%;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 1.6vw;
    font-family: 'Quicksand', sans-serif;
}

  /* #endregion*/



    /*#region Cards*/

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0% 10%;
}

.cards select {
  width: 25%;
  border-radius: 8px;
  border: 0px solid black;
  margin: 0% 2%;
  padding: 0.2% 1%;
  font-size: 1.4vw;
  font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.cards option {
  margin: 0% 2%;
  font-size: 1.4vw;
  font-weight: 600;
    font-family: 'Quicksand', sans-serif;
}

.drop {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cards-content {
  display: flex;
  width: 100%;
  margin: 2% 0%;
}

.cards-collum {
  display: flex;
  width: 100%;
  margin: 0% 2%;
  flex: 1;
  flex-direction: column;
}

.card {
  display: flex;
  width: 100%;
  margin: 3% 0%;
}

.card-L {
  display: flex;
  flex: 1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #8370FF;
  aspect-ratio: 1 / 1;
}

.card-L img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
    align-items: center;
    justify-content: center;
    
}

.card-R {
  display: flex;
  flex-direction: column;
  background-color: #282828;
  flex: 2.5;
  padding: 1% 2%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
      font-family: 'Quicksand', sans-serif;
}

.R-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    align-items: center;
}

.R-about {
  display: flex;
  background-color: #303030;
  border-radius: 10px;
  padding: 0% 3%;
}


.R-name h2 {
  font-size: 1.5vw;
}

.dim {
  font-size: 1.2vw; 
  flex: 1; 
  align-self: flex-end;
}

.R-name p {
  font-size: 1vw;
  margin-left: 5%;
  color: #909090;
}

.descricao-card {
  display: flex;
  padding: 2%;
  margin: 1% 0%;
  font-size: 1vw;
  line-height: 1.5;
  width: 100%;
  height: 75%;
  background-color: #303030;
  border-radius: 5px;
}


  /*#endregion*/


  /* #endregion YXT*/
