/* #region Pagina de Upload || upload_musicas.php */

    /* #region */

.upload-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.archive-upload {
    display: flex;

    margin: 10% 2%;
    padding: 0% 15%;
    width: 100%;
}

.archive-upload img {
    width: 30%;
}

.upload-ost {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    width: 100%;
    flex: 1;
        background-color: #242424;
}

.upload-ost-content {
    display: flex;
    width: 100%;
    padding: 2%;
    flex: 1;
        background-color: #242424;
}

    /* #endregion */

/* #endregion */