/* #region Pagina de Upload || upload_musicas.php */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

    /* #region */

.formUpload {
    display: flex;
        flex-direction: column;
    padding: 0% 15%;
}

.upload-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

        /* #region Left Content*/

.archive-upload {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    width: 100%;
}

.upload-ost {
    display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    padding: 4%;
    width: 100%;
    flex: 1;
        background-color: #242424;
        border-radius: 20px 0% 0% 20px;
}

.butt-Up {
    width: 100%;
    display: none;
}

.img-drop {
    display: flex;
    width: 75%;
    aspect-ratio: 1 / 1;
}

.img-drop img {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

        /* #endregion Left Content*/



        /* #region Right Content */

.upload-ost-content {
    display: flex;
        flex-direction: column;
        text-align: center;
        flex: 1;
        justify-content: space-between;
    width: 100%;
    padding: 4%;
    font-size: 1.2vw;
    font-family: 'Quicksand', sans-serif;
    aspect-ratio: 1 / 1;
        background-color: #242424;
        border-radius: 0% 20px 20px 0%;
}

.up-txt-A {
    font-size: 1.8vw;
    margin-bottom: 4%;
}

.up-txt-B {
    font-size: 1.4vw;
    margin: 2% 0%;
}

.up-txt-C {
    font-size: 1.4vw;
    margin: 2% 0%;
}

.info-up {
    font-size: 1vw;
    color: #727272;
}

        /* #endregion Right Content */        



        /* #region Projetos*/

.projects {
    display: flex; 
    flex-direction:column;
        font-family: 'Quicksand', sans-serif;
}

.projects input, select {
    font-size: 2.4vh;
    padding: 1%;
}

.new-projects-content {
    display: flex; 
    justify-content:space-between;
    align-items: center;

}

.Projects-content select {
        font-family: 'Quicksand', sans-serif;
}
        /* #endregion projetos*/



        /* #region Musicas Cards */

.card {
    display: flex; 
    background: #242424; 
    flex-direction: column; 
    border-radius: 10px;
    margin: 2% 0%;
        font-family: 'Quicksand', sans-serif;
}

.left-card {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.left-card audio {
    width: 100%;
    margin: 1% 0%;
}

.right-card-close {
    padding: 2%; 
    display: flex; 
    flex-direction: column;
    height: 0%;
}

.right-card-open {
    padding: 0% 2%; 
    display: flex; 
    flex-direction: column;
    height: 100%; 
}

.right-card-field {
    display: none;
    flex-direction: column;
    padding: 2% 0%;
}

.right-card-open input, textarea, select {
    font-size: 2.4vh;
    padding: 0.5%;
    margin: 0px 0px 2% 0px;
        font-family: 'Quicksand', sans-serif;
}

.right-card-open input, textarea {
    border: solid black 0px;
    border-radius: 5px;
}

.LadoALado {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}

.Coluna {
    display: flex;
    flex-direction: column;
}

.coluna input, select {
    padding: 1%;
}


.opener {
    display: flex;
    width: 100%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top: #727272 2px solid;
}

.btnEnd {
    margin: 0.5% 2%;
    font-size: 1em;
        font-family: 'Quicksand', sans-serif;
}

        /* #endregion Musicas Cards */
    /* #endregion */

/* #endregion */